@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Poppins:wght@500;600&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pixelify+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
/* font family */
/* font-family: 'Caramel', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Pixelify Sans', cursive;
*/

:root{
    --normal-font-size:1.4vw;
    --h1-font-size:5vw;
    --h3-font-size:2vw;
    --color1:#E55604;
    --poppins:'Poppins', sans-serif;
    --roboto:'Roboto', sans-serif;
    --pixel:'Pixelify Sans', cursive;
    --prim-color:#fff;
    --heading:3vw;
    --para:30px;
}
*{
    padding: 0;
    margin: 0;
    background-color: black;
    text-decoration: none;
    list-style: none;
    /* overflow: hidden; */
}
.home{
    width: 100%;
    height: 100vh;
}
.top-container-navbar
{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--prim-color);
}
.navbar{
    margin-right: 10px;
}
.nav-ul{
    display: flex;
}
.navbar ul li{
    padding: 1vw;
    margin: 5px;
    font-size: var(--normal-font-size);
    font-family: var(--poppins);
}
#logo {
    font-size: 3.8rem;
    color: var();
    margin-left: 10px;
    font-family: 'Caramel', cursives;
}
#logo span{
    color:var(--color1);
}
.nav-ul li a{
    color: var(--prim-color);

}
/* .nav-ul li a::after{
    content: "";
    width: 0;
    margin: auto;
    height: 2px ;
    background-color: var(--color1);
    transition: 0.5s ease-in-out;
} */
.nav-ul li a:hover{
    width: 100%;
    border-bottom: 2px solid var(--color1);
}
.heading{
    color: var(--prim-color);
    font-family: var(--roboto);
    margin-left: 200px;
    margin-top: 20vh;
    line-height: 1;
    display: flex;
    flex-direction: column;
}
.heading h1{
    font-size: var(--h1-font-size);
}
.heading h1 span,.heading h3 span{
    color: var(--color1);
    font-family: var(--pixel);
}
.second-heading{
    margin-left: 20vw;
}
.second-heading h3{
    font-size: var(--h3-font-size);
}
.second-heading h5{
    font-size: 1vw;
    text-align: end;
    width: 25vw;
}
.about{
    color: var(--prim-color);
}
.label
{
    margin-top: 30vh;
}
.label h4{
    font-size: 20px;
    text-align: end;
    font-family: var(--poppins);
    margin-bottom: 16vh;
}
#more-label{
    display: flex;
    bottom: 0;
    justify-content: space-between;
}
#more-label div h4{
    font-size: 20px;
    font-family: var(--roboto);
}
/* ------------------------------------------------------------------------------------------------------------------- */
/* home css Ends  */
/* --------------------------------------------------------------------------------------------------------------------- */
/* about css  */
/*------------------------------------------------------------------------------------------------------------------------- */
#About-me{
    color: var(--prim-color);
    margin: 0px auto;
    width: 70%;
    height: 100vh;
    
}
#About-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--poppins);

}
.About-head-media{
    display: none;
}
.about-txt{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    height: 550px;
}
#my-image img{
    width: 100%;
    height: 600px;
    border-radius: 30%;
    border-bottom: 6px solid var(--color1);
    border-top: 6px solid var(--color1);
}
.About-head,.About-head-media{
    font-size: var(--heading);
    font-weight: 600;
    opacity: 0.6;
    padding: 20px;
    text-align: center;
}
.about-txt p{
    word-spacing: 10px;
  font-size: 20px;
  padding: 30px;
  text-align: center;
}

#btn{  
    color: black;
    font-weight: 900; 
    font-family: var(--pixel);
    background-color: #ffffffb3;
    width: 100px;
    height: 40px;
    font-size: 1rem;
    border-radius: 20%;
    margin: 0px auto;
}
#btn:hover
{
    background-color: #E55604;
    color: white;
    transform: scale(1.25);
    transition: 2s ease-out;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* about css end */
/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* skill css  */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------- */
#my-skills{
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
}

#my-skills div h1,.qualification h1{
    text-align: center;
    font-size: var(--heading);
    opacity: 0.7;
    font-family: var(--poppins);
    color: var(--prim-color);
}
#row-skill{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center;   */
    height: auto; 
    flex-wrap: nowrap; 
}   
.skill-col
{
    padding: 20px;
    border: 2px solid var(--color1);
    flex-basis: 39vw;
    border-radius: 25px;
}
.skill-col h3{
    text-transform: capitalize;
    text-align: center;
    font-size:var(--para) ;
    font-family: var(--poppins);
    padding: 30px;
    border-bottom:1px solid #E55604; 
    color: var(--prim-color);
} 
/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* bar  */
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.progress
{
    padding: 15px;
}
.progress h4{
    font-size: 1vw;
    font-family: var(--pixel);
    display: flex;justify-content: space-between;
    padding: 20px;
    color: var(--prim-color);
}
.bar{
    width: 100%;
    height: 10px;
    border: 1px solid lightgoldenrodyellow;
    border-radius: 20px;
    overflow: hidden;
}
.bar span{
    background-color: #e55604b7;
    height: 100%;
    display: block;
}
.width-90{
    width: 90%;
}
.width-70{
    width: 70%;
}
.width-20
{
    width: 20%;
}
.width-60{
    width: 60%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* bar  ends */
/* skill css ends  */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Qualification css  */
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
#qualification-row
{
    padding: 10vh 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: var(--prim-color);
}
.about-qualification table{
    padding: 0px 10px;
    padding-top: 20px;
    width: 80%;
    margin: auto;
}
.sc-img{
    border-radius: 100px;
    overflow: hidden;
    border: 5px solid var(--color1);
}
.about-qualification table td{
    padding: 5px 15px;
    text-align: end;
    font-family: var(--pixel);
    font-size: 20px;
} 
.qualification-column{
    border-right: 10px solid lightcoral;
    border-bottom: 10px solid lightcoral;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 3px 5px 20px 10px orangered;
    flex-basis: 20%;
}
/* Qualification css ends  */
/* ----------------------------------------------------------------------------------------------------------------------------------- */
/* Footer css  */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
.footer{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5vh;
    padding-bottom: 2vh;
    color: var(--prim-color);
}
#clock{
    font-size: 20px;
    font-family: var(--roboto);
}
#my-links li {
display: inline-flex;
padding: 10px;
font-size: 20px;
font-family: var(--poppins);
}
#my-links li a i{
    font-size: 30px;
}
#my-links li a{
    text-decoration: none;
    color:var(--color1) ;
}
#my-links li:hover{
    border: 1px solid var(--color1)
}
/*Extra css */
#open-work-btn{
    display: none;
    background: transparent;
    border: 2px solid var(--color1);
    color: var(--color1);
    padding: 10px;
    font-family: var(--poppins);
    text-transform: capitalize;
    border-radius: 5px;
}
#open-work-btn:hover{
    background-color: var(--color1);
    color: black;
    font-weight: bold;
    transition: 2s ease-out;
}
.display-none{
    display: none;
}
.About-head-media{
    font-size: 30px;
    padding-top:30px ;
}